
# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executables (Linux/Mac/Windows)
*.out
*.exe
a.out   # default gcc/clang output

# Editor/IDE temp files
*~
*.swp

